
body{
    background-color: #0A2647;
    color: #EBEBEB;
    font-family: clearsans,lucida grande,lucida sans unicode,lucida sans,sans-serif;
}
#cuerpo{
  width: 65%;
}
.circular {
    border: solid;
    border-radius: 50%;
    border-color: #EBEBEB;
    border-width: 5px;
  }

#costado{
  background-color: #144272 ;
}
#foto{
  background-color:  #2C74B3 ;

}

img {
  margin: auto;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  }
#name{
  background-color: #144272;
  text-align: center;
}
h3{
  margin-top:16px;
}
.display-3{
  margin-top: 16px;
}
@import "../node_modules/bootstrap/scss/bootstrap";
